header {
	display: block;
}
h1, h2 {
	text-align: center;
}
#options{
	display: block;
}
div {
	display: block;
}
.row{
	margin-bottom: 5px;
}
.p1, .p2 {
	text-align: left;	
}
/* .player1div is being ignored/overwritten by bootstrap css*/
#player1div {
	padding-left:10%;
}
.playbut {
	padding-top: 2%;
}
#player2{
	position: absolute;
	/*left: 60px;*/
}
#stateofplay{
	display: none;
}

.leftcol .middlecol .rightcol{
	position: relative;
}
#i, #iv, #vii {
	position: absolute;
	left: 260px;
}  
#iii, #vi, #ix{
	position: absolute;
	left: -230px;
}
button {
	height: 50px;
	width: 100px;
	background-color: lavender;
	clear:left;
}